<!--The content below is only a placeholder and can be replaced.-->


<div class="container main-content">
   <app-nav></app-nav>

   
    <div class="container-fluid">
        <div class=" jumbotron">
            <h1>Jumbotron</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg ">Learn more</a></p>
        </div>
        <div class="panel panel-primary pnl-main-content">
            <div class="panel-heading">Status</div>
            <div class="panel-body">
                <h3>{{title}}</h3>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>